<section ui-content-for="navbars">
<style>
	.has-navbar-top .app-body {
	    padding-top: 0px;
	}
	.has-navbar-bottom .app-body {
	    padding-bottom: 0px;
	}
</style>
</section>
<section class="section container-fluid login">
  <h1 class="upstacker-header">up<span>stacker</span></h1>
  
  <h4 class="secondary-header">Account Login</h4>

  <form>
	  <fieldset class="form-group">
	    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">
	  </fieldset>
	  <fieldset class="form-group">
	    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
	  </fieldset>
	  <fieldset class="form-group">
	    <button class="upstacker-button" api-login>Login</button>
	  </fieldset>
	</form>

	<hr/>

	<p>Not a member yet?</p>
	<button class="upstacker-button back-drop">
		<a href="#/signup" class="upstacker-anchor">New Account</a>
	</button>

</section>
