<section class="section container-fluid signup">
  
  <h4 class="secondary-header">New Account</h4>

  <form>
	  <fieldset class="form-group">
	    <input type="text" class="form-control" id="display" placeholder="Display Name" ng-model="display">
	  </fieldset>
	  <fieldset class="form-group">
	    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">
	  </fieldset>
	  <fieldset class="form-group">
	    <input type="text" class="form-control" id="email" placeholder="Email Address" ng-model="email">
	  </fieldset>
	  <fieldset class="form-group">
	    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
	  </fieldset>
	  <fieldset class="form-group">
	    <button class="upstacker-button" api-register>Register</button>
	  </fieldset>
	</form>

</section>

<p class="center">Already a member?
	<a href="#/" class="inline-anchor">Login</a>
</p>